<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <!--事务管理器
    对mybatis连接操作数据库事务控制，spring使用jdbc的事务控制类
    -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <!--数据源
    dataSource在ApplicationContext-dao.xml中配置了
    -->
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!--通知/也称为增强-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!--传播行为-->
            <tx:method name="delete*" propagation="REQUIRED" />
            <tx:method name="insert*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="save*" propagation="REQUIRED" />

            <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
            <!--所有以select开头的方法都是只读的-->
            <tx:method name="select*" propagation="SUPPORTS" read-only="true"/>

            <!--其它方法使用默认的事务策略-->
           <!-- <tx:method name="*"/>-->
        </tx:attributes>
    </tx:advice>

    <!--aop配置-->
    <!-- 事物处理 -->
    <aop:config>
        <!--
        pointcut元素定义一个切入点，execution中的第一个星号用以匹配方法的返回类型
        这里的星号表明匹配所有的返回类型。
        com.ssm.serviceImp.*.*(..))表明com.ssm.serviceImp包下的所有类的所有方法
        -->

        <aop:pointcut id="pc" expression="execution(* com.ssm.serviceImp.*.*(..))"/>
        <!--将定义好的事务处理策略应用到上述的切入点-->
        <aop:advisor pointcut-ref="pc" advice-ref="txAdvice"/>
    </aop:config>

</beans>

